section div img {
  width: 600px;
}
section div p {
  padding-top: 1%;
  padding-bottom: 3%;
}
h1 {
  font-size: 50px;
  color: #575757;
}
.flexible-container {
  display: flex;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
}
.half-width {
  width: 50%;
}
.orange-text {
  color: #fba24f;
}
.grey-text {
  color: #828282;
}
.orange-link-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #fd5131;
  padding: 15px 30px;
  border-radius: 20px;
}
